body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #000000;
  text-transform: uppercase;

  background-color: #FFFFFF;
  background-image: url("../img/white_back.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* Универсальный класс для кнопок и ссылок, которые выглядят как кнопки */
.button {
  padding: 12px 40px 19px;
  font: inherit;

  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  line-height: 18px;
  background: #EEEEEE;
  text-transform: uppercase;

  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.10);
}

/* Цвета для кнопок */
._red {
  background: #FB565A;
}

._red:hover,
._red:focus {
  background: #E74246;
}

._red:active {
  background: #D7373B;
}

._green {
  background: #00CA74;
}

._green:hover,
._green:focus {
  background: #00BC6C;
}

._green:active {
  background: #00AA62;
}

._yellow {
  background: #EFC84A;
}

._yellow:hover,
._yellow:focus {
  background: #EAB534;
}

._yellow:active {
  background: #E5A722;
}

.main-header {
  background: url("../img/grey_back.jpg") #EEEEEE;
}

/* Стили для навигации */
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  min-height: 65px;

  padding: 45px 20px 0;
  margin: auto;
  justify-content: space-between;
  align-items: center;

  background: url("../img/grey_back.jpg") #EEEEEE;

  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.logo {
  width: 160px;
}

.logo:hover,
.logo:focus{
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.main-link {
  display: flex;
  flex-wrap: wrap;
}

.main-link li {
  margin-right: 46px;
}

.main-link, .cart {
  list-style: none;
  padding: 0;
  margin: 6px 0 0;
  align-self: center;
}

.main-navigation a {
  display: block;
  padding-bottom: 2px;

  font: inherit;
  font-weight: 800;
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #FB565A;
}

.main-navigation a:active {
  opacity: 0.3;
  color: #000000;
}

.active-link {
  color: #000000;
  border-bottom: 2px solid #FB565A;
}

.cart-link::before {
  content: url("../img/cart-icon.svg");
  height: 25px;
  width: 25px;

  margin-right: 25px;
}

/* Стили хедера страницы магазина */
.catalog-header {
  min-width: 1200px;

  background: url("../img/grey_back.jpg") #EEEEEE;
}

.catalog-header h1 {
  min-width: 1200px;
  padding-top: 65px;
  padding-bottom: 110px;
  margin: 0;

  font-size: 56px;
  text-align: center;
  line-height: 55px;
  text-transform: none;
}

/* Стили для слайлов */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 600px;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 61px 0 80px 0;
}

.slider-item:nth-child(1) {
  background: url("../img/slide-1.png") 93% 0 no-repeat #EEEEEE;
}

.slider-item:nth-child(2) {
  background: url("../img/slide-2.png") right 0 no-repeat #EEEEEE;
}

.slider-item:nth-child(3) {
  background: url("../img/slide-3.png") right 20px no-repeat #EEEEEE;

}

#product-1:checked ~ .slider-list .slider-item:nth-child(1),
#product-2:checked ~ .slider-list .slider-item:nth-child(2),
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 800;
  text-transform: none;
}

.slider-item p {
  max-width: 430px;

  margin: 0;
  margin-bottom: 38px;

  text-transform: none;
}

.slider-item-button {
  display: block;
  width: 240px;

  padding: 18px 0px 15px;
}

/* Стили для области видов макетов */
.layouts-type {
  display: flex;
  width: 1100px;

  margin: 80px auto;
  padding: 0 80px 18px 20px;
  justify-content: space-between;
}

.type-item {
  width: 300px;
}

.type-item h3 {
  margin-top: 18px;
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 30px;
}

.types-description {
  margin-bottom: 40px;

  color: #283136;
  text-transform: none;
}

/* Стили блока с рекламой */
.advertising {
  display: flex;
  width: 1160px;
  padding: 0 20px;
  justify-content: space-between;
  margin: auto;
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
}

.info {
  width: 650px;
  margin: 75px 0 45px;
}

.info p:first-child {
  margin-bottom: 33px;
  font-size: 45px;
  color: #000000;
  font-weight: 800;
  line-height: 45px;
  text-align: left;
  text-transform: none;
}

.info p,
.example-list li {
  text-align: left;
  margin: 0;

  color: #283136;
  text-transform: none;
}

.info .list-header {
  padding-top: 38px;
  padding-bottom: 24px;

  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
}

.example-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.example-list li {
  position: relative;

  padding-left: 36px;
  padding-bottom: 24px;
}

.example-list li::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #FB565A;
}

.statics {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 40px 0 75px;
}

.statics p {
  margin-top: 36px;
  margin-bottom: 48px;

  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.statics-table {
  height: 95px;
  width: 345px;
  border-collapse: collapse;
}

.statics-table th {
  height: 35px;
  padding: 0 22px 0 0;
  font-size: 45px;
  line-height: 10px;
  font-weight: 800;
}

.statics-table th:last-child {
  height: 35px;
  padding: 0 36px 0 0;
}

.statics-table th sup {
  font-size: 28px;

}

.statics-table td {
  padding: 20px 0 0;

  color: #283136;
  line-height: 18px;
  text-transform: none;
}

.partner-link {
  display: flex;
  width: 1160px;

  padding: 45px 20px 40px;
  margin: auto;
  align-items: center;

  border-bottom: 1px solid #EEEEEE;

  list-style: none;
}

.partner-link a {
   opacity: 0.2;
 }

.partner-link a:hover,
.partner-link a:focus{
  opacity: 1;
}

.partner-link a:active {
  opacity: 0.1;
}

.partner-link li:last-child {
  margin-right: 0;
}

.partner-link li:first-child {
  margin-left: 31px;
}

.partner-link li:not(:last-child)::after {
  content: "";

  margin-right: 10px;
  margin-left: 10px;
  align-self: center;
  height: 52px;
  width: 1px;
  color: #EEEEEE;
  background-color: #EEEEEE;
}

.academy-link {
  margin-right: 40px;
}

.barbershop-link {
  margin-right: 35px;
  margin-left: 35px;
}

.pink-link {
  margin-right: 47px;
  margin-left: 47px;
}

.mishka-link {
  margin-left: 53px;
}

.partner-link li {
  display: flex;
  opacity: 1;
}

.partner-link li:hover {
  opacity: 1;
}

/* Стили основной часть каталога*/
.catalog-main-block {
  display: flex;
  width: 1160px;
  padding: 52px 20px 0;
  margin: auto;
  justify-content: space-between;
}

/* Стили фильтров */
.filter {
  width: 260px;
}

.filters {
  margin-right: 140px;
}

.filter fieldset {
  padding: 0;
  margin: 0 0 29px;

  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
}

/* Стоимость */
.filter fieldset:first-child legend {
  margin-bottom: 49px;
}

.filter fieldset:first-child {
  margin-bottom: 55px;
}

.range-controls {
  position: relative;

  height: 37px;
  margin-bottom: 15px;
  padding: 39px 20px 0;

  background-color: #EEEEEE;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 150px;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.range-filter {
  width: 260px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 80px;
  height: 38px;

  margin-left: 6px;

  text-align: center;
  background-color: #EEEEEE;
  border: none;
  border-radius: 5px;
}

.filter ul {
  margin: 12px 0 10px;
  padding: 0;

  list-style: none;
}

.filter li {
  margin-bottom: 16px;
}

.filter-input + label {
  font-size: 16px;
  color: #283136;
  line-height: 20px;
  text-transform: none;
}

.filter-input:hover + label,
.filter-input:focus + label,
.filter-input:checked + label {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.3;
  font-size: 16px;
  line-height: 19px;
}

.filter-checkbox {
  position: relative;

  padding-left: 33px;

  cursor: pointer;
}

.filter-checkbox::before {
  content: "";
  background: url("../img/checkbox-off.svg") no-repeat;
  position: absolute;
  top: 0;
  left: 0;

  width: 26px;
  height: 26px;
  opacity: 0.4;

  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

.filter-input:checked + .filter-checkbox::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.filter-input:hover + .filter-checkbox::before,
.filter-input:focus + .filter-checkbox::before {
  opacity: 1;

  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input:disabled + .filter-checkbox::before {
  opacity: 0.1;

}

.filter-radio-btn {
  position: relative;

  padding-left: 33px;

  cursor: pointer;
}

.filter-radio-btn::before {
  content: "";
  background: url("../img/radio-off.svg") no-repeat;
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;
  opacity: 0.4;
}

.filter-input:checked + .filter-radio-btn::before {
  background: url("../img/radio-on.svg") no-repeat;
}

.filter-input:focus + .filter-radio-btn::before,
.filter-input:hover + .filter-radio-btn::before {
  opacity: 1;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input:disabled + .filter-radio-btn::before {
  opacity: 0.1;

}

.show {
  width: 260px;
  padding: 20px 0 14px;

  color: #000000;
  background: #EEEEEE;
}

.show:hover,
.show:focus {
  background-color: #DFDFDF;
}

.show:active {
  color: rgba(0, 0, 0, 0.3);
  background: #D5D5D5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.10);
}

/* Стили сортировки */
.card-block {
  display: block;
}

.sorted {
  display: flex;
  margin-bottom: 96px;
  justify-content: space-between;
}

.sorted span {
  letter-spacing: 1px;
  font-weight: 800;
}

.sorted ul {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.sorted li {
  margin-right: 26px;

  font-size: 14px;
}

.sorted li:first-child {
  margin-left: 250px;
}

.sorted li:last-child {
  margin-right: 30px;
}

.sorted a {
  opacity: 0.3;
}

.sorted a:hover,
.sorted a:focus {
  opacity: 0.6;
}

.sorted .active-sort {
  opacity: 1;
}

.arrow {
  width: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.arrow a {
  height: 0;
  border: 11px solid #000000;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
}

.arrow a:last-child {
  border-top-width: 0;
}

.arrow a:first-child {
  border-bottom-width: 0;
}

/* Стили карточек товаров */
.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-right: 40px;
  margin-bottom: 72px;
  cursor: pointer;
}

.card:nth-child(2n) {
  margin-right: 0;
}

.card:last-child,
.card:nth-last-child(2) {
  margin-bottom: 0;
}

.card::before {
  content: url("../img/browser.svg");
  position: absolute;
  top: -41px;
  opacity: 0.2;
}

.card:hover::before {
  opacity: 1;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 30px auto 60px;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  height: 230px;
  bottom: 0;
  left: 0;
  background-color: #EEEEEE;
  z-index: 2;
  opacity: 0;
}

.description a {
  width: 200px;
  margin: 25px auto 20px;

  font-size: 18px;
  color: #000000;
  text-align: center;
  line-height: 30px;
  font-weight: 800;
}

.description p {
  margin: 0 auto 30px;
  width: 240px;
  color: #666666;
  text-align: center;
  line-height: 18px;
  text-transform: none;
}

.card:hover,
.card:active {
  box-shadow: 0px 4px 20px 0px #d1d1d1;
}

.card:hover .description,
.card:active .description {
  opacity: 1;

}

.price {
  width: 200px;
  margin: 0 auto 40px;
}

.pages {
  display: flex;
  margin-top: 60px;
}

.pages ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-number {
  display: block;
  padding: 16px 21px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

.next-page {
  padding: 16px 39px;
  width: 184px;
}

.page-number,
.next-page {
  color: #000000;
  background: #EEEEEE;
}

.page-number:hover,
.page-number:focus,
.next-page:hover,
.next-page:focus {
  background-color: #DFDFDF;
}

.page-number:active,
.next-page:active {
  color: rgba(0, 0, 0, 0.3);
  background: #D5D5D5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.10);
}

.active-page {
  background: #FFFFFF;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

/*Footer*/
.map {
  display: flex;
  position: relative;
  justify-content: center;
  width: 1440px;
  margin: 80px auto 50px;
  height: 416px;
}

.map img:first-child {
  position: relative;
  height: 416px;
}

.contact-us {
  display: flex;
  position: absolute;
  top: 50px;
  left: 16px;
  box-sizing: border-box;
  width: 321px;
  height: 310px;
  flex-direction: column;
  padding: 54px 52px 47px;
  justify-content: space-between;
  background-color: #FFFFFF;
  z-index: 2;
}

.contact-us h4 {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.contact-us p {
  margin: 0;
  line-height: 18px;
  color: #666666;
  text-transform: none;
  text-align: left;
}

.contact-us .button {
  width: 220px;
  padding: 15px 0;
}

/* Стили формы */
/* TODO: ОЖИВИТЬ display:none!! */
.letter-form {
  width: 760px;
  height: 450px;
  display: none;
  /*display: block;*/
  padding: 55px 100px 85px;

  position: absolute;
  bottom: -10px;
  left: 240px;

  background-color: #FFFFFF;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);

  z-index: 3;
}

.letter-form h2 {
  margin: 0 0 50px;

  font-size: 45px;
  color: #000000;
  text-transform: none;
  line-height: 45px;
}

.contact-us-form {
  max-width: 760px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.letter-item {
  display: flex;
  flex-direction: column;
  width: 360px;

  margin: 0;
  margin-bottom: 36px;
}

.letter-item label {
  display: block;
  margin-bottom: 12px;

  font-weight: 800;
  color: #000000;
  text-transform: none;
  line-height: 18px;
}

.letter-item input {
  padding: 18px 16px 19px;

  border-radius: 3px;
  border: 1px solid #EEEEEE;
}

.text {
  display: block;
  width: 760px;
}

.letter-item textarea {
  padding: 14px 15px;
  border: 1px solid #EEEEEE;
  width: 730px;
  height: 92px;

}

.map-marker {
  position: absolute;
  top: 89px;
  right: 390px;
  z-index: 2;
}

.send-form {
  width: 260px;
}

.form-close {
  position: absolute;
  top: 70px;
  right: 90px;
  padding: 0;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;
}

.form-close::before,
.form-close::after {
  content: "";

  position: absolute;
  top: 10px;
  right: 0;

  width: 22px;
  height: 3px;

  background-color: #FB565A;

}

.form-close::before {
  transform: rotate(45deg);
}

.form-close::after {
  transform: rotate(-45deg);
}

.main-footer {
  display: flex;
  width: 1160px;
  padding: 10px 20px;
  margin: auto;
  align-items: center;
}

/* Ссылки на соц-сети в footer */
.social-link {
  display: flex;
  width: 260px;
  margin: 0 140px 0 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;

  list-style: none;
}

.social-link a {
  display: block;
  position: relative;
  height: 81px;
  width: 81px;
  border-radius: 50%;
  background-color: #E1E1E1;
}

.vk-link {
  background: url("../img/vk-icon.svg") 50% 50% no-repeat #E1E1E1;
}

.fb-link {
  background: url("../img/fb-icon.svg") 50% 50% no-repeat #E1E1E1;
}

.inst-link {
  background: url("../img/insta-icon.svg") 50% 50% no-repeat #E1E1E1;
}

.social-link a:hover,
.social-link a:focus {
  background-color: #E74246;
}

.social-link a:active {
  opacity: 0.3;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/* Рекламная подпись в footer*/
.offer {
  display: flex;
  flex-direction: column;
}

.offer b {
  margin-bottom: 10px;
  font: inherit;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  font-weight: 800;
}

.offer span {
  font: inherit;
  font-size: 16px;
  color: #444444;
  line-height: 22px;
  text-transform: none;
}
